*{
	margin: 0 auto;
	opacity: 0.98;
}

body {
	text-align: center;
	background-repeat: no-repeat;
  background-image: url("images/notebook.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;

}
header {
	width: 1000px;
	background-color: #F15B31;
	color: white;
}

h1 {

}

footer {
	width: 1000px;
	background-color: lightyellow;
}

#canvas {
	visibility: hidden;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	position: center;
	background-color:
	border: 2px;
	border-color: black;
	width: 550px;
	height: 550px;
	object-fit: cover;
}

.boxRight {
background-image: url("images/snakeRed.png");
background-size: cover;
height: 200px;
width: 200px;
margin-bottom: 20px;
}

#boxLeft {
position: relative;
border-style: groove;
background-color: lightcyan;
display: block;
margin-top: 450px;
}

#stomach {
position: relative;
background-image: url("images/stomach.png");
background-repeat: no-repeat;
}

#textRight {
	font-family: 'Indie Flower', cursive;
	font-size: 22px;
	margin-bottom: 5px;
}

#textRightBottom {
	font-family: 'Indie Flower', cursive;
	font-size: 22px;

}

.boxRightBottom {
background-image: url("images/greenSnake.png");
background-size: cover;
height: 200px;
width: 200px;
}




